<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-user/public/scripts/modules/user-management/apps/user-management-app.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-user/public/scripts/modules/user-management/configs/user-management-routes.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-user/public/scripts/modules/user-management/controllers/user-index-controller.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-user/public/scripts/modules/user-management/controllers/user-edit-controller.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-user/public/scripts/modules/user-management/services/user-management-services.js"></script>

<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-user/public/scripts/modules/login/apps/login-app.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-user/public/scripts/modules/login/configs/login-routes.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-user/public/scripts/modules/login/controllers/login-controller.js"></script>
<script type="text/javascript" src="/vendor/neopangea/f3-mod-cms-mongo-user/public/scripts/modules/login/services/login-services.js"></script>

<link rel="stylesheet" type="text/css" href="/vendor/neopangea/f3-mod-cms-mongo-user/public/styles/layout.css"/>
