<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Users<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li class=""><a href="/cms/logout">Logout</a></li>
        <li class=""><a href="/cms/users">Users</a></li>
    </ul>
</li>