<div class="col-xs-2 full-height sidebar">
    <div class="nav">
        <ul class="nav">
            <li>
                <a data-ng-class="{active: ui.view === 'episode'}"
                   href="#/index">Users</a>
            </li>
            <li>
                <a data-ng-class="{active: ui.view === 'episode'}"
                   href="#/roles">Roles</a>
            </li>
        </ul>
    </div>
</div>