<div class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <h3 class="text-center">Sign in to continue to the CMS</h3>
        <div class="login-container">
            <div ng-switch on="state.current">
                <div ng-switch-when="logged_in">
                    <div class="alert alert-success" role="alert"><strong>Success:</strong> {{state.msg}}</div>
                </div>
                <div ng-switch-when="error">
                    <div class="alert alert-danger" role="alert"><strong>Login failed:</strong> {{state.msg}}</div>
                </div>
            </div>
            <form data-ng-submit="submit()">
                <input data-ng-model="data.email" type="text" class="form-control" placeholder="Email" required="" autofocus="" autocomplete="off">
                <input data-ng-model="data.password" type="password" class="form-control" placeholder="Password" required="" autocomplete="off">
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
            </form>
        </div>
    </div>
</div>







