<!--<div data-ng-include="'/modules/f3-mod-cms-mongo-user/public/scripts/modules/user-management/partials/side-menu-partial.html'"/>-->

<div class="col-xs-12 full-height content-area">
    <div class="page-header">
        <h1>Users <small>Index</small></h1>
    </div>
    <!-- ACTION ROW -->

    <div class="row pad-bottom-md">
        <div class="col-xs-4">
            <a class="btn btn-success" href="#/add"><span class="glyphicons plus white icon-sm"></span> Add User</a>
        </div>
        <div class="col-sm-8">
            <div class="input-group pull-right">
                <input type="text" class="form-control" data-ng-model="searchText" placeholder="Search">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="searchText = ''">
                        <strong><span aria-hidden="true">&times;</span><span class="sr-only">clear</span></strong>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-switch on="state.current">
        <div data-ng-switch-when="error">
            <div class="alert alert-danger" role="alert">
                <strong>Errors:</strong> {{state.msg}}
            </div>
        </div>
        <div data-ng-switch-when="fetching">
            <div class="alert alert-info" role="alert">
                <strong>Please Wait:</strong> Fetching users now....
            </div>
        </div>
        <div data-ng-switch-when="default">

            <!-- EMPTY VIEW -->

            <div ng-show="!data.users.length" class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert"><strong>Hey! </strong> No users can be found.</div>
                </div>
            </div>

            <!-- SECTIONS TABLE -->

            <div ng-show="data.users.length" class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Fist</th>
                            <th>Last</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th width="200">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="user in data.users | filter : searchText">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{ roles[user.role] }}</td>
                            <td>
                                <a href="#/edit/{{user._id}}" class="btn btn-primary" ><span class="glyphicons edit white icon-sm"></span> Edit</a>
                                <button type="button" class="btn btn-danger btn-sm" neo-really-message="Are you sure you want to delete this item?" neo-really-click="delete(user)">
                                    <span class="glyphicons white bin icon-sm"></span>Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div data-ng-switch-default>
            <div class="alert alert-info" role="alert">
                <strong>Unkown State:</strong> "{{state.current}}"
            </div>
        </div>
    </div>


</div>







