<!--<div data-ng-include="'/modules/f3-mod-cms-mongo-user/public/scripts/modules/user-management/partials/side-menu-partial.html'"/>-->

<div class="col-xs-12 full-height content-area">
    <div class="page-header">
        <h1>Users<small> Edit</small></h1>
    </div>

    <div data-ng-switch on="ui.state.current">
        <div data-ng-switch-when="saved">
            <div class="alert alert-success" role="alert">
                <strong>User Saved</strong>
            </div>
        </div>
        <div data-ng-switch-when="error">
            <div class="alert alert-danger" role="alert">
                <strong>Errors: </strong> Please fix the errors below.
            </div>
        </div>
        <div data-ng-switch-when="fetching">
            <div class="alert alert-info" role="alert">
                <strong>Please Wait</strong> Fetching your user now.
            </div>
        </div>
    </div>

    <form data-ng-submit="save()">

        <!-- First Name -->

        <div class="form-group">
            <label class="control-label" for="user-first-name">First Name *</label>
            <span class="validation-error pad-left-xs">{{data.user.errors.firstName.join(', ')}}</span>
            <input
                data-ng-model="data.user.firstName"
                type="text"
                class="form-control"
                id="user-first-name"
                placeholder="First Name"
                required>
        </div>

        <!-- Last Name -->

        <div class="form-group">
            <label class="control-label" for="user-last-name">Last Name *</label>
            <span class="validation-error pad-left-xs">{{data.user.errors.lastName.join(', ')}}</span>
            <input
                data-ng-model="data.user.lastName"
                type="text"
                class="form-control"
                id="user-last-name"
                placeholder="Last Name"
                required>
        </div>

        <!-- Email -->

        <div class="form-group">
            <label class="control-label" for="user-email">Email *</label>
            <span class="validation-error pad-left-xs">{{data.user.errors.email.join(', ')}}</span>
            <input
                data-ng-model="data.user.email"
                type="text"
                class="form-control"
                id="user-email"
                placeholder="Email"
                required>
        </div>

        <!--Role -->
        <div class="form-group">
            <label class="control-label" title="data.user.role">Role *</label>
            <span class="validation-error pad-left-xs">{{data.user.errors.role.join(', ')}}</span>

            <select class="form-control"
                    required
                    data-ng-model="data.user.role">
                <option value="admin">Admin</option>
                <option value="editor">Editor</option>
            </select>
        </div>

        <!-- PASSWORD -->

        <div class="form-group">
            <label class="control-label" for="user-password">Password (enter only if changing)</label>
            <span class="validation-error pad-left-xs">{{data.user.errors.password.join(', ')}}</span>
            <input
                data-ng-model="data.user.password"
                type="password"
                class="form-control"
                id="user-password"
                autocomplete="off">
        </div>

        <input type="submit" class="btn btn-primary" data-ng-class="{disabled:ui.state.current===ui.state.options.saving}" value="Save" />
    </form>
</div>









