<include href="{{ @NEO_CMS_HEADER_VIEW }}" />
<div class="full-height row" data-ng-app="userManagementApp">
    <include href="{{ @NEO_CMS_HEADER_PARTIAL }}" />
    <include href="{{ @NEO_CMS_SIDEBAR_PARTIAL }}" />
    <div class="col-xs-10" data-ng-view=""></div>
</div>
<include href="{{ @NEO_CMS_FOOTER_VIEW }}" />